header, footer
{
    background-color : silver;
}

footer
{
    text-align : center;
}

nav
{
    text-align : right;
}

.avatar
{
    max-height : 50px;
    max-width : 50px;
}

.profil
{
    display: inline-block;
}

a
{
    text-decoration: none;
    color: black;
}

.message
{
    margin-left: 50px;
}

.message_profil
{
    display: inline-block;
    margin: 0;
}

.comm_area
{
    border: solid black 1px;
}