/* All templates */

html, body
{
    height: 100%;
    margin: 0;
}

header, footer
{
    background-color : silver;
}

footer
{
    text-align : center;
}

header
{
    padding-top: 10px;
    margin-bottom: 20px;
}

h1
{
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 0;
}

nav
{
    text-align : right;
    padding-bottom: 10px;
}

/*######################################*/
/* skeleton.html */

.links
{
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

/*######################################*/
/* connect.html */

.accueil
{
    text-align: center;
    margin-bottom: 10px;
}

/*######################################*/
/* profils.html */

.profil
{
    display: inline-block;
}

.avatar
{
    height : 67px;
}

/*######################################*/
/* wall.html */

.message
{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
}

/* wall messages */

.mess_area
{
    border: solid silver 1px;
}

.mess_title
{
    border-bottom: dashed silver 1px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.mess_form
{
     margin-top: 10px;
}

.submit_button
{
    float: right;
    height: 50px;
    width: 150px;
    color: #ffffff;
    border-radius: 15px;
    background: linear-gradient(
        #ccc6c3 0%,
        #828c95 50%,
        #ccc6c3 100%); /* W3C */
}

.submit_button:hover
{
    background: linear-gradient(
        #828c95 0%,
        #ccc6c3 50%,
        #828c95 100%); /* W3C */
}

.mess_data
{
    margin-bottom: 10px;
}

.message_profil
{
    display: inline-block;
    margin: 0;
}

.profil_detail
{
    font-weight: bold;
    margin-bottom: 0;
}

/* comments */

.comm_area
{
    border: solid silver 1px;
}

.old_comms
{
    border-bottom: dashed silver 1px;
}

.comm_form
{
    margin-top: 10px;
}

/*######################################*/
/* views.py NewMess & NewComm to be found in wall.html */

.id_description
{
    height: 50px;
    width: 90%;
    overflow: auto;
}





