<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <title>{% block title %}The super social network!{% endblock %}</title>
    </head>
    <body>
        <header>
            <h1>Be social</h1>
            <nav>
            {% block nav %}
                <a href="/admin/" class="links">Admin</a>
                <a href="/social/deconnexion" class="links">Déconnexion</a>
                {% if user.is_authenticated %}
                <a href="{% url 'wall' user.id %}" class="links">Ton profil</a>
                <a href="{% url 'namebook' %}" class="links">Liste des profils</a>
                {% endif %}
            
            {% endblock %}
            </nav>
        </header>
        
        <section id="content">
            {% block content %}{% endblock %}
        </section>
        
        <footer>&copy; Be social by Sylvain</footer>
    </body>
</html>
