{% extends "skeleton.html" %}
{% block content %}
    {% if error %}
        <p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
    {% endif %}

    {% if user.is_authenticated %}
        Vous êtes connecté, {{ user.username }} !
    {% else %}
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Se connecter" />
            <input type="hidden" name="next"value="namebook" />
        </form>
    {% endif %}
{% endblock %}
