{% extends "skeleton.html" %}
{% block content %}

    <section class="profil">
        <article>
            <a href="{% url 'wall' user.id %}">Accéder à votre profil</a>
        </article>
    {% for profil in profils %}
        <article>
            <figure>
                <img class="avatar" src="{{ profil.avatar.url }}" alt="avatar de {{ profil.user }}" />
            </figure>
            <a href="{% url 'wall' profil.id %}">{{ profil.user }}</a>
        </article>
    {% empty %}
        <article>Aucun utilisateur.</article>
    </section>
    {% endfor %}

{% endblock %}
