{% extends "skeleton.html" %}
{% block content %}

    <section class="profil">
    {% for log in logged %}
        <article>
            <figure class="profil">
                <img class="avatar" src="{{ log.avatar.url }}" alt="avatar de {{ log.user }}" />
            </figure>
            <a href="{% url 'wall' log.id %}" class="profil">Accéder à votre mur</a>
        </article>
    {% endfor %}
    
    {% for profil in profils %}
        <article>
            <figure class="profil">
                <img class="avatar" src="{{ profil.avatar.url }}" alt="avatar de {{ profil.user }}" />
            </figure>
            <a href="{% url 'wall' profil.id %}" class="profil">mur de {{ profil.user }}</a>
        </article>
    {% empty %}
        <article>Aucun autre utilisateur.</article>
    {% endfor %}
    </section>

{% endblock %}
