{% extends "skeleton.html" %}
{% block content %}

    {% for owner in owners %}
        {% ifequal user.id owner.id %}
            <p>Bienvenu sur votre mur de messages</p>
        {% else %}
            <p>Bienvenu sur le mur des messages de {{ owner.user }}</p>
        {% endifequal %}

    <article class="message">
    {% for message in messages %}
                <figure class="message_profil">
                    <img class="avatar" src="{{ message.owner.avatar.url }}" alt="avatar de {{ message.owner.user }}" />
                </figure>
            {% ifequal owner.user.username message.owner.user.username %}
                <aside class="message_profil">
                    <p>{{ message.owner.user.username }}</p>
                    <p>{{ message.date }}</p>
                </aside>
            {% else %}
                <aside class="message_profil">
                    <p>{{ message.owner.user.username }} => {{ message.receiver.user.username }}</p>
                    <p>{{ message.date }}</p>
                </aside>
            {% endifequal %}
        <p>{{ message.message }}</p>

        <aside class="comm_area">
            <div>
            {% ifequal owner.user.username message.owner.user.username %}
                {% for commentaire in commentaires %}
                    {% ifequal message.id commentaire.message_id %}
                        <p>{{ commentaire.description }}</p>
                    {% endifequal %}
                {% empty %}
                    <p>pas de commentaires du tout!</p>
                {% endfor %}
            {% else %}
                {% for commentaire in commentaires2 %}
                    {% ifequal message.id commentaire.message_id %}
                        <p>{{ commentaire.description }}</p>
                    {% endifequal %}
                {% empty %}
                    <p>pas de commentaires du tout!</p>
                {% endfor %}
            {% endifequal %}
            </div>

            {% ifequal owner.user.username message.owner.user.username %}
                <form action="/social/commsu/{{ message.id }}" method="post">
                    {% csrf_token %}
                    {{ formu.as_p }}
                    <input type="submit" value="Submit" />
                </form>
            {% else %}
                <form action="/social/commsa/{{ message.id }}" method="post">
                    {% csrf_token %}
                    {{ forma.as_p }}
                    <input type="submit" value="Submit" />
                </form>
            {% endifequal %}
        </aside>
    {% empty %}
        <p>Aucun message.</p>
    </article>
    {% endfor %}

    {% endfor %}
{% endblock %}

