{% extends "skeleton.html" %}
{% block content %}
    {% load humanize %}

    {% for owner in owners %}
        <section class="message">
            <article class="mess_area">
                {% ifequal user.id owner.user.id %}
            <p class="mess_title">Laissez un message sur votre mur</p>
            <div class="mess_form">
                        <form action="/social/mess/{{ user.id }}" method="post">
                            {% csrf_token %}
                            {{ messu }}
                             <input type="submit" value="Submit" class="submit_button"/>
                        </form>
                    </div>
        {% else %}
            <p>Laissez un message sur le mur de {{ owner.user }}</p>
            <div class="mess_form">
                        <form action="/social/mess/{{ owner.user.id }}" method="post">
                            {% csrf_token %}
                            {{ messu }}
                             <input type="submit" value="Submit" class="submit_button"/>
                        </form>
                    </div>
        {% endifequal %}
            </article>
        </section>

{% load avatar %}

        {% for message in messages %}
            <section class="message">
                <article class="mess_data">
                    <figure class="message_profil">
                        <img class="avatar" src="{% avatar message.owner.id %}" alt="avatar de {{ message.owner }}" />
                    </figure>
                    {% ifequal owner.user.username message.owner.username %}
                    <aside class="message_profil">
                        <p class="profil_detail">{{ message.owner.username }}</p>
                        <p class="profil_detail">{{ message.date|naturalday:"DATE_FORMAT" }}</p>
                    </aside>
                    {% else %}
                    <aside class="message_profil">
                        <p class="profil_detail">{{ message.owner.username }} => {{ message.receiver.username }}</p>
                        <p class="profil_detail">{{ message.date|naturalday:"DATE_FORMAT" }}</p>
                    </aside>
                    {% endifequal %}
                </article>

                <article class="mess_data">{{ message.message }}</article>

                <article class="comm_area">
                    {% for commentaire in commentaires %}
                        {% ifequal message.id commentaire.message_id %}
                        <div class="old_comms">
                            <p><strong>{{ commentaire.sender }}</strong> : {{ commentaire.description }}</p>
                            <p>{{ commentaire.date|naturaltime }}</p>
                        </div>
                        {% endifequal %}
                    {%  endfor %}

                    <div class="comm_form">
                        <form action="/social/comms/{{ message.id }}" method="post">
                            {% csrf_token %}
                            {{ formu }}
                             <input type="submit" value="Submit" class="submit_button"/>
                        </form>
                    </div>
                </article>
            </section>
        {% empty %}
            <article class="message">
                <p>Aucun message.</p>
            </article>
        {% endfor %}

    {% endfor %}
{% endblock %}

